body {
    background-image: url('../images/Skeld.png');
    background-repeat: no-repeat;
    background-size: fixed;
    background-color: black;
    height: 100%;
    coucou DYLAN ca va ?
}

.teste
{
    position: fixed;
    width : 30px;
    height: 30px;
    visibility: hidden;
}

.character {
    position: fixed;
    width : 30px;
    height: 30px;
}

#character1
{
    top: 35px;
    left: 900px;
}

#character2
{
    top: 185px;
    left: 480px;
}

#character3
{
    top: 500px;
    left: 1050px;
}

#character4
{
    top: 360px;
    left: 1200px;
}

#character5
{
    top: 126px;
    left: 1260px;
}

#character6
{
    top: 440px;
    left: 1612px;
}

#character7
{
    top: 780px;
    left: 1000px;
}

#character8
{
    top: 300px;
    left: 120px;
}

#character9
{
    top: 530px;
    left: 650px;
}

#character10
{
    top: 700px;
    left: 340px;
}


h1{
    color: blue;
}


.footer {
    position: fixed;
    top: 1px;
    left: 50px;
    text-align: center;
}

.slay-text {
  position: static;
  height: 50px;
  color: white;
  background-color: black;
  opacity: 80%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 3em;
}